* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin-bottom: 6rem;
}

header a {
  text-decoration: none;
  color: #1f1f1f;
}

header a:hover {
  text-decoration: underline;
}

header div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header svg {
  width: 1.5rem;
  color: #5f6368;
}

#avatar {
  width: 2rem;
  border-radius: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.google-logo {
  margin-bottom: 1rem;
}

.search-bar {
  margin-bottom: 2rem;
}

textarea {
  width: 35rem;
  border-radius: 100vh;
  border: none;
  box-shadow: 0px 2px 8px 0px rgba(60, 64, 67, 0.25);
  min-height: 44px;
  resize: none;
}

.search-buttons {
  margin-bottom: 2rem;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: #f8f9fa;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
}

button a {
  text-decoration: none;
  color: #3c4043;
}

.lang {
  display: flex;
  align-items: center;
}

.lang p,.lang a {
  margin-right: 0.5rem;
}

.lang a {
  text-decoration: none;
  color:#1a0dab;
}

.lang a:hover {
  text-decoration: underline;
}